.container{
    font-size: 18px;
    color:rgb(222, 184, 135)
}
.container {
     text-align: center;
}
.container {
  display: flex;
  justify-content: center;
}

main {
    background-color: #3D2412;
}

h1 {
    background-color: burlywood;
    color:#3D2412;
    font-size: 50px;
    margin:auto;
    padding: px;
    border: 5px solid #3d24012c;
    border-radius: 10px;
    max-width: 5020px;
}

.descricao{
    font-size: 22;
     margin:auto;
     
    
}

.Habilidades{
    h2 {
        background-color: burlywood;
        color:#3D2412;
        font-size: 50px;
        margin-left: 490px;
        padding: 5px;
        border: 5px solid #3d24012c;
        border-radius: 10px;
        max-width: 5020px;
    }

    li {
        font-size: 22;
        margin-left: 520px;
    }
}

.caracteristicas{
    h2{
    background-color: burlywood;
    color:#3D2412;
    font-size: 50px;
    margin-left: 450px;
    padding: 5px;
    border: 5px solid #3d24012c;
    border-radius: 10px;
    max-width: 330px;
}
}
